.item-shared0 {
    background-color: #DC143C;
    color: #ffffff;
    border-color: #ffffff;
}

.user0 {
    color: #DC143C;
}

.item-shared1 {
    background-color: #83f7f7;
    color: #000000;
    border-color: #ffffff;
}

.user1 {
    color: #83f7f7;
}

.item-shared2 {
    background-color: #dda6ff;
    color: #000000;
    border-color: #ffffff;
}

.user2 {
    color: #dda6ff;
}

.item-shared3 {
    background-color: #ff759c;
    color: #ffffff;
    border-color: #ffffff;
}

.user3 {
    color: #ff759c;
}

.item-shared4 {
    background-color: #fff133;
    color: #000000;
    border-color: #ffffff;
}

.user4 {
    color: #fff133;
}

.item-shared5 {
    background-color: #ff7a33;
    color: #ffffff;
    border-color: #ffffff;
}

.user5 {
    color: #ff7a33;
}

.item-shared6 {
    background-color: #406632;
    color: #ffffff;
    border-color: #ffffff;
}

.user6 {
    color: #406632;
}

.item-shared7 {
        background-color: #b20e9c;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user7 {
        color: #b20e9c;    
}

.item-shared8 {
    background-color: #8ca184;
    color: #ffffff;
    border-color: #ffffff;
}

.user8 {
    color: #8ca184;
}

.item-shared9 {
        background-color: #00f6ff;       
        color: #000000; 
        border-color: #ffffff;
}

.user9 {
        color: #00f6ff;  
}

.item-shared10 {
        background-color: #78a51f;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user10 {
        color: #78a51f;  
}

.item-shared11 {
        background-color: #703b69;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user11 {
        color: #703b69;   
}

.item-shared12 {
        background-color: #cc0202;       
        color: #ffffff; 
        border-color: #ffffff;  
}

.user12 {
        color: #cc0202;    
}

.item-shared13 {
    background-color: #1d6f75;
    color: #ffffff;
    border-color: #ffffff;
}

.user13 {
    color: #1d6f75;
}

.item-shared14 {
        background-color: #f7a400;       
        color: #000000; 
        border-color: #ffffff;
}

.user14 {
        color: #f7a400;
}

.item-shared15 {
        background-color: #651aef;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user15 {
        color: #651aef;   
}

.item-shared16 {
    background-color: #788f39;
    color: #000000;
    border-color: #ffffff;
}

.user16 {
    color: #788f39;
}

.item-shared17 {
    background-color: #583261;
    color: #000000;
    border-color: #ffffff;
}

.user17 {
    color: #583261;
}

.item-shared18 {
        background-color: #e9f902;       
        color: #000000; 
        border-color: #ffffff;
}

.user18 {
        color: #e9f902;     
}

.item-shared19 {
        background-color: #0011ff;       
        color: #ffffff; 
        border-color: #ffffff;
}

.user19 {
        color: #0011ff;     
}