@{
    ViewBag.Title = "Home Page";
}

<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 text-center">
            <div class="well">
                <div class="title-marketing"><h3>Retrospective</h3></div>
                <div class="panel-body">The Sprint Retrospective meeting is a time for a team to reflect on how they are doing and find ways to improve current processes.</div>
                <a href="@Url.Action("CreateEvent", "Event")" class="btn btn-primary">
                    Create Session
                </a>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="well">
                <div class="title-marketing"><h3>Poker Planning</h3></div>
                <div class="panel-body"> The Poker Planning is a consensus-based technique for estimating the effort, relative size or time of development goals.</div>
                <a href="@Url.Action("CreatePP", "PokerPlanning")" class="btn btn-primary">
                    Create Session
                </a>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="well">
                <div class="title-marketing"><h3>Brainstorming</h3></div>
                <div class="panel-body">Coming soon</div>
                <button type="button" disabled class="btn btn-primary">Create Session</button>
            </div>
        </div>
    </div>
</div>